body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

ul {
    list-style: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(166, 168, 165);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: rgba(68, 66, 66, 0.13);
}

li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-right: 10px;
}

li a:hover {
    text-decoration: underline;
}
